# Секция определения сервисов (контейнеров)
services:
  # Имя сервиса базы данных для аутентификации
  db_auth:
    # Имя контейнера (можно обращаться к нему по этому имени)
    container_name: db_auth
    # Маппинг портов: внешний_порт:внутренний_порт
    ports:
      # Внешний порт берется из переменной окружения,
      # внутренний 5432 - стандартный порт PostgreSQL
      - "${AUTH_DB_EXTERNAL_PORT}:5432"
    # Переменные окружения для контейнера
    environment:
      # Пароль суперпользователя PostgreSQL (из переменной окружения)
      - POSTGRES_PASSWORD=${AUTH_DB_PASSWORD}
      # Имя пользователя PostgreSQL (из переменной окружения)
      - POSTGRES_USER=${AUTH_DB_USER}
      # Имя базы данных, которая будет создана при первом запуске (из переменной окружения)
      - POSTGRES_DB=${AUTH_DB_NAME}
    # Docker образ для использования
    # (PostgreSQL версии 15 на базе Alpine Linux)
    image: postgres:15-alpine
    # Монтирование томов в контейнер
    volumes:
      # Том db_auth_data монтируется в стандартную директорию
      # данных PostgreSQL
      # Это обеспечивает сохранность данных при перезапуске контейнера
      - db_auth_data:/var/lib/postgresql/data
    # Сети, к которым подключен контейнер
    networks:
      # Подключение к сети my_network для взаимодействия с другими сервисами
      - my_network

# Секция определения сетей Docker
# Сети позволяют контейнерам общаться друг с другом
networks:
  # Имя сети для сервисов аутентификации
  my_network:
    # Тип драйвера сети (bridge - стандартный, позволяет контейнерам общаться по именам)
    driver: bridge

# Секция определения томов (volumes)
# Тома используются для постоянного хранения данных вне контейнера
volumes:
  # Имя тома для хранения данных PostgreSQL
  # Данные сохраняются даже после удаления контейнера
  db_auth_data:
