# Секция определения сервисов (контейнеров)
services:
  # Имя сервиса базы данных для аутентификации
  db_auth:
    # Имя контейнера (можно обращаться к нему по этому имени)
    container_name: db_auth
    # Маппинг портов: внешний_порт:внутренний_порт
    ports:
      # Внешний порт берется из переменной окружения,
      # внутренний 5432 - стандартный порт PostgreSQL
      - "${DB_PORT}:5432"
    # Переменные окружения для контейнера
    environment:
      # Пароль суперпользователя PostgreSQL (из переменной окружения)
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      # Имя пользователя PostgreSQL (из переменной окружения)
      - POSTGRES_USER=${DB_USER}
      # Имя базы данных, которая будет создана при первом запуске (из переменной окружения)
      - POSTGRES_DB=${DB_NAME}
    # Docker образ для использования
    # (PostgreSQL версии 15 на базе Alpine Linux)
    image: postgres:15-alpine
    # Монтирование томов в контейнер
    volumes:
      # Том db_auth_data монтируется в стандартную директорию
      # данных PostgreSQL
      # Это обеспечивает сохранность данных при перезапуске контейнера
      - db_auth_data:/var/lib/postgresql/data
    # Сети, к которым подключен контейнер
    networks:
      # Подключение к сети my_network для взаимодействия с другими сервисами
      - my_network

  # Сервис аутентификации
  auth:
    build:
      # Контекст сборки (директория с Dockerfile)
      context: ./auth
      # Имя Dockerfile
      dockerfile: Dockerfile
    # Имя контейнера
    container_name: auth
    # # Маппинг портов: внешний_порт:внутренний_порт
    # ports:
    #   - "${EXTERNAL_PORT}:${PORT}"
    expose:
      - "${PORT}"
    # Переменные окружения для контейнера
    environment:
      # Хост базы данных
      - DB_HOST=${DB_HOST}
      # Порт базы данных
      - DB_PORT=${DB_PORT}
      # Имя базы данных
      - DB_NAME=${DB_NAME}
      # Имя пользователя БД
      - DB_USER=${DB_USER}
      # Пароль пользователя БД
      - DB_PASSWORD=${DB_PASSWORD}
      # Секрет для подписи JWT токенов
      - JWT_SECRET=${JWT_SECRET}
      # Срок действия Access токена
      - JWT_ACCESS_EXP=${JWT_ACCESS_EXP}
      # Срок действия Refresh токена
      - JWT_REFRESH_EXP=${JWT_REFRESH_EXP}
      # Секрет для внутреннего взаимодействия между микросервисами
      - INTERNAL_SECRET=${INTERNAL_SECRET}
      # Путь для запроса данных (endpoint)
      - DATA_REQUEST=${DATA_REQUEST}
      # Хост сервиса данных
      - DATA_HOST=${DATA_HOST}
      # Порт сервиса данных
      - DATA_PORT=${DATA_PORT}
      # Флаг окружения (true для стейджинга/тестирования)
      - IS_STAGE=${IS_STAGE}
      # Порт, на котором будет запущен сервис
      - PORT=${PORT}
      # Соль для хеширования (например, паролей)
      - SALT=${SALT}
    # Сети, к которым подключен контейнер
    networks:
      - my_network
    # Зависимость от сервиса db_auth
    # Это означает, что сервис auth будет запущен только после запуска сервиса db_auth
    depends_on:
      - db_auth

  db_data:
    # Имя контейнера (можно обращаться к нему по этому имени)
    container_name: db_data
    # Маппинг портов: внешний_порт:внутренний_порт
    ports:
      # Внешний порт берется из переменной окружения,
      # внутренний 5432 - стандартный порт PostgreSQL
      - "${DATA_DB_EXTERNAL_PORT}:5432"
    # Переменные окружения для контейнера
    environment:
      # Пароль суперпользователя PostgreSQL (из переменной окружения)
      - POSTGRES_PASSWORD=${DATA_DB_PASSWORD}
      # Имя пользователя PostgreSQL (из переменной окружения)
      - POSTGRES_USER=${DATA_DB_USER}
      # Имя базы данных, которая будет создана при первом запуске (из переменной окружения)
      - POSTGRES_DB=${DATA_DB_NAME}
    # Docker образ для использования
    # (PostgreSQL версии 15 на базе Alpine Linux)
    image: postgres:15-alpine
    # Монтирование томов в контейнер
    volumes:
      # Том db_data_data монтируется в стандартную директорию
      # данных PostgreSQL
      # Это обеспечивает сохранность данных при перезапуске контейнера
      - db_data_data:/var/lib/postgresql/data
    # Сети, к которым подключен контейнер
    networks:
      # Подключение к сети my_network для взаимодействия с другими сервисами
      - my_network

  # Сервис Redis
  redis:
    # Имя контейнера
    container_name: redis
    # Docker образ для использования
    # (Redis версии 7 на базе Alpine Linux)
    image: redis:7-alpine
    # Маппинг портов: внешний_порт:внутренний_порт
    ports:
      - "${REDIS_EXTERNAL_PORT}:${REDIS_PORT}"
    # Сети, к которым подключен контейнер
    networks:
      # Подключение к сети my_network для взаимодействия с другими сервисами
      - my_network

  data:
    build:
      context: ./data
      dockerfile: Dockerfile
    container_name: data
    # ports:
    #   - "${DATA_EXTERNAL_PORT}:${DATA_PORT}"
    expose:
      - "${DATA_PORT}"
    environment:
      - DB_HOST=${DATA_DB_HOST}
      - DB_PORT=${DATA_DB_PORT}
      - DB_NAME=${DATA_DB_NAME}
      - DB_USER=${DATA_DB_USER}
      - DB_PASSWORD=${DATA_DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - INTERNAL_SECRET=${INTERNAL_SECRET}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - HOST=${DATA_HOST}
      - PORT=${DATA_PORT}
      - IS_STAGE=${DATA_IS_STAGE}
    networks:
      - my_network
    depends_on:
      - db_data

  nginx:
    container_name: nginx
    image: nginx:alpine
    ports:
      - "80:80"
    networks:
      - my_network
    depends_on:
      - auth
      - data
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
# Секция определения сетей Docker
# Сети позволяют контейнерам общаться друг с другом
networks:
  # Имя сети для сервисов аутентификации
  my_network:
    # Тип драйвера сети (bridge - стандартный, позволяет контейнерам общаться по именам)
    driver: bridge

# Секция определения томов (volumes)
# Тома используются для постоянного хранения данных вне контейнера
volumes:
  # Имя тома для хранения данных PostgreSQL
  # Данные сохраняются даже после удаления контейнера
  db_auth_data:
  db_data_data:
